body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0058C9;
    overflow: hidden;
}

#gameCanvas {
    border: 1px solid #000;
}

#tutorial {
    position: absolute;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#gameOverPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0058C9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 10;
}

#gameOverPopup.hidden {
    display: none;
}

#logo {
    width: 100px;
    margin-bottom: 10px;
}

#buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #0058C9;
    cursor: pointer;
    font-size: 16px;
}

.blur {
    filter: blur(5px);
}